body {
	margin: 0;
	padding: 0;
	max-width: 390px;
	border: 1px solid black;
	font-size: 18px;
	line-height: 18px;
	color: var(--tg-theme-text-color);
	background: var(--tg-theme-bg-color);
}

h1 {
	text-align: center;
	font-size: 25px;
	line-height: 25px;
}

a {
	color: var(--tg-theme-text-color);
}

#info {
	display: block;
	padding: 8px;
	text-align: left;
}

.payment {
	text-align: center;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(7, 25px);
}

#rules {
	display: none;
}

.list {
	padding: 0 8px 8px 20px;
	text-align: left;
	display: grid;
	grid-template-columns: 8% 92%;
	grid-template-rows: repeat(4, 50px);

}


.inner {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr;
	/*grid-template-rows: 200px;*/
}

.img {
	width: 150px;
}

.item {
	text-align: center;
}

.btn {
	display: inline-block;
	padding: 10px 20px;
	border: none;
	background: var(--tg-theme-button-color);
	border-radius: 10px;
	color: var(--tg-theme-button-text-color);
	font-weight: 700;
	/*transition: background .2s linear;*/
}

.btn:hover {
	background: var(--tg-theme-button-color);
}
